name: Create a release

on:
  workflow_dispatch:
    inputs:
      semver:
        description: The semver to use
        required: true
        default: patch
        type: choice
        options:
          - patch
          - minor
          - major
  pull_request:
    types: [closed]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Node.js runtime on build
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc

      - uses: nearform/optic-release-automation-action@v3
        with:
          semver: ${{ github.event.inputs.semver }}
          sync-semver-tags: true
          commit-message: 'chore: release {version}'
          build-command: |
            echo 'installing husky hooks..'
            npm ci